body {
    background-color: rgb(189, 189, 189);
    
}
.game-logo {
    display: flex;
    color: brown;
    background-color: bisque;
    width: 100%;
    height: 60px;
    align-items: center;
    justify-content: center;
}
.game-area {
    display: flex;
    align-items: center;
    justify-content: center;
}
.rock {
    width: 80px;
}
.paper {
    width: 80px;
    height: 80px;
}
.scissor {
    width: 80px;
}
