body {
    background-color: rgb(189, 189, 189);
    
}

.game-logo {
    display: flex;
    color: rgb(255, 0, 0);
    background-color: bisque;
    width: 100%;
    height: 60px;
    align-items: center;
    justify-content: center;
    font-size: 120%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.game-area {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;

    width: 100%;
    max-width: 830px;
    min-height:fit-content;
    margin-left: auto;
    margin-right: auto;
    background-color: bisque;
    padding-top: 40px;
    gap: 40px;
}
.choose {
    color: rgb(130, 130, 130);
}

.sorting-game {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 1%;
}
.rock {
    width: 80px;
}
.paper {
    width: 80px;
    height: 80px;
}
.scissor {
    width: 80px;
}

.result {
    display: flex;
    width: 100%;
    margin-top: 20px;
    font-size: 130%;
    color: brown;
    align-items: center;
    justify-content: center;
    background-color: bisque;
    max-height: 200px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    gap: 20px;
    flex-wrap: wrap;
}

.score_style
{
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: center;
    justify-content: center;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    background-color: red;
    color: white;
}
.winner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.tie_style{
    width: 100%;
}

@media only screen and (min-width: 600px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 1024px) {
    .game-logo {
        display: flex;
        color: rgb(255, 0, 0);
        background-color: bisque;
        width: 100%;
        height: 80px;
        align-items: center;
        justify-content: center;
        font-size: 140%;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    }
    .game-area {
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 60px;
    
        width: 90%;
        min-height: fit-content;
        max-width: 830px;
        margin-left: auto;
        margin-right: auto;
        background-color: bisque;
        padding: 40px;
        gap: 40px;
    }
    .rock {
        width: 150px;
    }
    .paper {
        width: 150px;
        height: 150px;
    }
    .scissor {
        width: 150px;
    }

}